<a href="https://colab.research.google.com/github/notorious0789/Study-of-Creation-of-Dataset-and-Load-Dataset/blob/main/Practical_10_Study_of_Creation_of_Dataset_and_Load_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    "Roll_No":[101,102,103,104,105],
    "Gender":["Male","Female","Female","Male","Male"],
    "Department":["Computer","IT","ENTC","Mechanical","Computer"],
    "CGPA":[8.2,7.5,9.1,6.8,8.7]
}

df = pd.DataFrame(data)
df.to_csv("student_data.csv",index=False)
df8

   Roll_No  Gender  Department  CGPA
0      101    Male    Computer   8.2
1      102  Female          IT   7.5
2      103  Female        ENTC   9.1
3      104    Male  Mechanical   6.8
4      105    Male    Computer   8.7

In [ ]:
df.shape

(5, 4)

In [ ]:
# Access the Information Column - Department
df.dtypes

Roll_No         int64
Gender         object
Department     object
CGPA          float64
dtype: object

In [ ]:
# Access Information About Roll_No 103
df.loc[2]

Roll_No          103
Gender        Female
Department      ENTC
CGPA             9.1
Name: 2, dtype: object

In [ ]:
# Find out Data Type of each Column
df.dtypes

Roll_No         int64
Gender         object
Department     object
CGPA          float64
dtype: object

In [ ]:
# Perform mean operation of CGPA
mean1 = df["CGPA"].mean()
mean1

np.float64(8.059999999999999)

In [ ]:
# Perform median operation of CGPA
median1 = df["CGPA"].median()
median1

8.2

In [ ]:
# Perform median operation of CGPA
mode1 = df["CGPA"].mode()
mode1

0    6.8
1    7.5
2    8.2
3    8.7
4    9.1
Name: CGPA, dtype: float64

In [ ]:
# Insert a new Column Grade
df["Grade"] = ["A","B","A","C","A"]
df

   Roll_No  Gender  Department  CGPA Grade
0      101    Male    Computer   8.2     A
1      102  Female          IT   7.5     B
2      103  Female        ENTC   9.1     A
3      104    Male  Mechanical   6.8     C
4      105    Male    Computer   8.7     A

In [ ]:
# Delete the Gender Column
df.drop("Gender",axis=1,inplace=True)
df

   Roll_No  Department  CGPA Grade
0      101    Computer   8.2     A
1      102          IT   7.5     B
2      103        ENTC   9.1     A
3      104  Mechanical   6.8     C
4      105    Computer   8.7     A

In [ ]:
# CGPA of Topper
max1 = df["CGPA"].max()
max1

9.1

In [ ]:
# CGPA of Roll_No 105
df.loc[4,"CGPA"]

np.float64(8.7)

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv('/content/Cars93.csv')

In [ ]:
df.size

930

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         59 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB

In [ ]:
df.shape

(93, 10)

In [ ]:
df.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0

In [ ]:
df.tail()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0